<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de {{student.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card>
    <img [src]=student.photo/>
    <ion-card-header>
      <ion-card-title>
        <ion-label>
          {{student.controlNumber}}
          <ion-chip color="primary " outline="true" class="ion-float-right">
            <ion-label>
              {{student.career}}
            </ion-label>
          </ion-chip>
        </ion-label>

      </ion-card-title>
      <ion-card-subtitle>
        {{student.email}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h2>
        CURP: {{student.curp}}
      </h2>
      <h2>
        Edad: {{student.age}}
      </h2>
    </ion-card-content>

  </ion-card>

</ion-content>
